[Desktop Entry]
Encoding=UTF-8
Name=i3 + Cinnamon
Comment=i3 with cinnamon-session and cinnamon-settings-daemon
Exec=/usr/bin/cinnamon-session-i3
Type=XSession
